<?php
$title = 'Add New Article';
$this->headTitle($title);
?>
    <h1><?= $this->escapeHtml($title) ?></h1>
<?php
$title = $form->get('title');
$title->setAttribute('class', 'form-control');
$title->setAttribute('placeholder', 'Title');

$categ = $form->get('category_id');
$categ->setAttribute('class', 'form-control');

// This provides a default CSS class and placeholder text for the artist element:
$body = $form->get('body');
$body->setAttribute('class', 'form-control');

$keywords = $form->get('keywords');
$keywords->setAttribute('class', 'form-control');
$keywords->setAttribute('placeholder', 'Keywords');

// This provides CSS classes for the submit button:
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('article', ['action' => 'add']));
$form->prepare();

echo $this->form()->openTag($form);
?>
<?php // Wrap the elements in divs marked as form groups, and render the
// label, element, and errors separately within ?>
    <div class="form-group">
        <?= $this->formLabel($title) ?>
        <?= $this->formElement($title) ?>
        <?= $this->formElementErrors()->render($title, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($categ) ?>
        <?= $this->formElement($categ) ?>
        <?= $this->formElementErrors()->render($categ, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($body) ?>
        <?= $this->formElement($body) ?>
        <?= $this->formElementErrors()->render($body, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($keywords) ?>
        <?= $this->formElement($keywords) ?>
        <?= $this->formElementErrors()->render($keywords, ['class' => 'help-block']) ?>
    </div>

<?php
echo $this->formSubmit($submit);
echo $this->formHidden($form->get('id'));
echo $this->form()->closeTag();