<?php
$title = 'Edit album';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<?php
$title = $form->get('title');
$title->setAttribute('class', 'form-control');
$title->setAttribute('placeholder', 'Article title');

$categ = $form->get('category_id');
$categ->setAttribute('class', 'form-control');
$categ->setAttribute('placeholder', '');

$body = $form->get('body');
$body->setAttribute('class', 'form-control');
$body->setAttribute('placeholder', 'Content');

$keyw = $form->get('keywords');
$keyw->setAttribute('class', 'form-control');
$keyw->setAttribute('placeholder', 'Keywords');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('article', [
    'action' => 'edit',
    'id'     => $id,
]));
$form->prepare();

echo $this->form()->openTag($form);
?>
<div class="form-group">
    <?= $this->formLabel($title) ?>
    <?= $this->formElement($title) ?>
    <?= $this->formElementErrors()->render($title, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($categ) ?>
    <?= $this->formElement($categ) ?>
    <?= $this->formElementErrors()->render($categ, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($body) ?>
    <?= $this->formElement($body) ?>
    <?= $this->formElementErrors()->render($body, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($keyw) ?>
    <?= $this->formElement($keyw) ?>
    <?= $this->formElementErrors()->render($keyw, ['class' => 'help-block']) ?>
</div>

<?php
echo $this->formSubmit($submit);
echo $this->formHidden($form->get('id'));
echo $this->form()->closeTag();