<?php
$title = 'Welcome to KBASE';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<div class="row">
    <div class="col-md-8">
        <h3>Recent articles</h3>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Keywords</th>
                <th>&nbsp;</th>
            </tr>
            <?php foreach ($articles as $article) : ?>
                <tr>
                    <td><?= $this->escapeHtml($article->title) ?></td>
                    <td><?= $this->escapeHtml($article->keywords) ?></td>
                    <td>
                        <a href="<?= $this->url('article', ['action'=>'view', 'id'=>$article->id]) ?>">View</a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h3>Categories</h3>
        <ul class="list-group">
            <?php foreach ($categories as $id => $name) : ?>
                <li class="list-group-item">
                    <a href="<?= $this->url('article', ['action' => 'list', 'id' => $id]) ?>">
                    <?= $this->escapeHtml($name) ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>