<?php
$title = 'Articles';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('article', ['action' => 'add']) ?>">Add New Article</a>
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Keywords</th>
        <th>Created</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($articles as $article) : ?>
        <tr>
            <td><?= $this->escapeHtml($article->title) ?></td>
            <td><?= substr($this->escapeHtml($article->body),0,50) ?></td>
            <td><?= $this->escapeHtml($article->keywords) ?></td>
            <td><?= $this->escapeHtml($article->create_date) ?></td>
            <td>
                <a href="<?= $this->url('article', ['action'=>'view', 'id'=>$article->id]) ?>">View</a>
                <a href="<?= $this->url('article', ['action' => 'edit', 'id' => $article->id]) ?>">Edit</a>
                <a href="<?= $this->url('article', ['action' => 'delete', 'id' => $article->id]) ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
