
<h1><?= $this->escapeHtml($article->title) ?></h1>
<p>
    <?php if (count($page) > 1) : ?>
        <a href="<?= $this->url('article', ['action'=>$page[0], 'id'=>$page[1]]) ?>">Page back</a>
    <?php else : ?>
        <a href="<?= $this->url('article', ['action'=>$page[0]]) ?>">Page back</a>
    <?php endif ?>
</p>
<h4><small>Category: </small><?= $this->escapeHtml($category) ?></h4>
<br>
<p><?= $this->escapeHtml($article->body) ?></p>
<br>
<h4><small>Keywords: </small><?= $this->escapeHtml($article->keywords) ?></h4>
<div><em>Created: <?= $this->escapeHtml($article->create_date) ?></em></div>

